<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CoinGrind</title>
	<!-- Подключение файлов -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Убирает отступы по бокам -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<!-- Шрфиты -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
	<!-- Иконка сайта -->
	<link rel="icon" href="/images/favicon.ico" type="images/x-icon">
	<!-- Кнопки в подвале которые перекидывают -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Подключение на эффекты -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
	<!-- КАЖДЫЙ INTRO ЭТО ОТДЕЛЬНЫЙ ФРЕЙМ, У INTRO ЕСТЬ НУМЕРАЦИЯ ВПИСАННАЯ -->
	<div class="intro">
		<div class="container">
			<header>
				<nav class="nav">
					<li style="margin-top: 35px;"><a href="home.html#introfive" class="aboutus">О нас</a></li>
					<li style="margin-top: 35px;"><a href="home.html#intronine" class="FAQs">FAQs</a></li>
					<li style="margin-top: 35px;"><a href="home.html#introten" class="contact">Контакты</a></li>
					<li class="name" style="margin-top: 16px;">CoinGrind</li>
					<li style="margin-top: 35px;"><a href="/registration" class="reg">Зарегистрироваться</a></li>					<li style="margin-top: 35px;"><a href="/login/login.html", class="enter">Войти</a></li>
				</nav>
				<hr style="border: none;
					height: 1px;
					background-color: #fffcee;
					margin: 0;
					margin-top: 10px;
					opacity: 0.5;">
			</header>
			<div>
				<p class="about1">
					Возьми под контроль свои финансы вместе с нами
				</p>
				<p class="about2">
					Оптимизируй свой бюджет с помощью нашей системы отслеживания финансовых результатов на базе искусственного интеллекта для профессионалов такси
				</p>
				<a href="home.html#introsecond" class="more">Узнать больше</a>
			</div>
		</div>
	</div>
	<div class="introsecond" id="introsecond">
		<div class="container">
			<img class="cars" src="/images/машинки2.png" alt="carsontright" algin data-aos="fade-left" style="transition: 2s;">
			<p class="effect" data-aos="fade-right" style="transition: 3s;">эффективность</p>
			<p class="essay" data-aos="fade-right" style="transition: 3s;">Легко отслеживайте свои <br> доходы и расходы</p>
			<div>
				<div style="float: left; width: 25%;">
					<li class="twotypes1" data-aos="fade-up" style="transition: 3s;">Оптимизация операций</li>
					<li class="objectstwo1" data-aos="fade-up" style="transition: 4s;">Контролируйте каждую транзакцию своих финансов, чтобы получать ценную информацию и <br>оптимизировать свой заработок</li>
				</div>
				<div style="float: left; width: 25%;">
					<li class="twotypes2" data-aos="fade-up" style="transition: 3s;">Будьте в курсе событий</li>
					<li class="objectstwo2" data-aos="fade-up" style="transition: 4s;">Получите доступ к подробной статистике и отчётам, чтобы принимать обоснованные решения и улучшать свои финансовые показатели</li>
				</div>
			</div>
		</div>
	</div>
	<div class="introthird">
		<div class="container">
			<div class="lyrics" data-aos="zoom-in" style="transition: 2s;">
				<p>Благодаря встроенному искусственному интеллекту, мы рассчитываем ваши доходы и расходы, управляем рабочими и выходными днями, а также показываем подробную статистику <br>и прогнозируем на будущее. Начни контролировать свои финансы уже <b>сегодня</b>!</p>
			  </div>
		</div>
	</div>
	<div class="introfourth">
		<div class="container">
			<div class="dopfnc" data-aos="fade-up" style="transition: 3s;">
				<img src="/images/анализируй.png" alt="фотоцентр" width="290px" height="316px">
			</div>
			<div class="first" data-aos="fade-up" style="transition: 2s;">
				<img src="/images/отслеживай.png" alt="фотослева" width="340px" height="366px">
			</div>
			<div class="second" data-aos="fade-up" style="transition: 4s;">
				<img src="/images/прогнозируй.png" alt="фотоcправа" width="340px" height="366px">
			</div>
		</div>
	</div>
	<div class="introfive" id="introfive">
		<div class="container" data-aos="zoom-in" style="transition: 3s;">
			<iframe width="1280" height="720" src="https://www.youtube.com/embed/wg6uvaQVKUU?si=jMWKrtiUa6r8Z4FW" frameborder="0" allow="clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			<!-- <video width="1280" height="720" controls muted>
				<source src="/images/homevideo.mp4" type="video/mp4">
			</video> -->
		</div>
	</div>
	<div class="container">
		<div class="introsix">
			<img src="/images/Управление.png" alt="Управление" style= "width: 33.3%; height: 100%; transition: 1s;" data-aos="fade-up">
			<img src="/images/Визуализация.png" alt="Визуализация" style="width: 33.4%; height: 100%; transition: 2s;" data-aos="fade-up">
			<img src="/images/Безопасность.png" alt="Безопасность" style="width: 33.3%;height: 100%; transition: 3s;" data-aos="fade-up">
		</div>
		<div class="introsix">
			<img src="/images/Грамотность.png" alt="Грамотность" style="width: 33.3%;height: 100%; transition: 1s;" data-aos="fade-up">
			<img src="/images/Время.png" alt="Время" style="width: 33.4%;height: 100%; transition: 2s;" data-aos="fade-up">
			<img src="/images/Анализ.png" alt="Анализ" style="width: 33.3%;height: 100%; transition: 3s;" data-aos="fade-up">
		</div>
	</div>
	<div class="container">
		<div class="introseven">
			<li class="otzivi" data-aos="fade-right" style="transition: 2s;">отзывы</li>
			<li class="read" data-aos="fade-right" style="transition: 3s;">Прочитайте, что о нас говорят наши клиенты</li>
			<div>
				<div style="float: left; width: 50%;">
					<img src="/images/Звезды.png" alt="zvezda1" class="star" data-aos="fade-up" style="transition: 3s;">
					<li class="otziv" data-aos="fade-up" style="transition: 3.5s;">Мой опыт сотрудничества с данной компанией был действительно потрясающим. Их сервис на высоте!</li>
					<div style="display: flex; padding-left: 30px; transition: 4s;" data-aos="fade-up">
						<img src="/images/Константин.png" alt="Kostya" style="width: 15%;height: 15%;">
						<li class="imya">Константин К.</li>
						<li class="exp"><br>Стаж 12 лет</li>
					</div>
				</div>
				<div style="float: left; width: 50%;">
					<img src="/images/Звезды.png" alt="zvezda2" class="star" data-aos="fade-up" style="transition: 3s;">
					<li class="otziv" data-aos="fade-up" style="transition: 3.5s;">Пользуюсь их услугами уже много лет и всегда поражаюсь их профессионализму!</li>
					<div style="display: flex; padding-left: 30px; transition: 4s;" data-aos="fade-up">
						<img src="/images/Василий.png" alt="Vasya" style="width: 15%;height: 15%;">
						<li class="imya">Василий Иванов</li>
						<li class="exp"><br>Стаж 25 лет</li>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="introeight">
			<div class="ticket">
				<img src="/images/Райан%20Гослинг.png" alt="в тикет" class="RayanGosling">
				<li class="segodnya"><b>Получите ранний доступ уже <ins>сегодня</ins>!</b></li>
				<li class="segodnyareg">Зарегистрируйся сейчас, чтобы первым ознакомиться с нашими функциями и обновлениями</li>
				<div style="display: flex;">
					<input type="text" id="" name="email" placeholder="Введите свой адрес электронной почты" class="vvodemail">
					<a href="/registration" class="registrat">Регистрация</a>
				</div>
				<div style="display: flex;">
					<input type="checkbox" class="box">
					<a href="" class="soglasen"><ins>Вы соглашаетесь с нашими Правилами и Условиями</ins></a>
				</div>
				<div style="display: flex;">
					<img src="/images/Line left.png" alt="1hr" class="firsthr">
					<li class="nameticket">CoinGrind</li>
					<img src="/images/Line right.png" alt="2hr" class="secondhr">
					<img src="/images/Line third.png" alt="2hr" class="thirdhr">
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="intronine">
		<div class="intronine">
			<div>
				<li class="quesotv" data-aos="fade-up" style="transition: 2s;">вопросы и ответы</li>
				<li class="aboutques" data-aos="fade-up" style="transition: 3s;">Найдите ответы на часто задаваемые вопросы о нашем финансовом трекере и его функциях</li>
			</div>
			<div style="margin-left: 250px;">
				<details data-aos="fade-up" style="transition: 3s;"><summary>Как это работает?</summary><div class="questions">Наш финансовый трекер использует передовые алгоритмы для расчета ваших доходов и расходов с учетом количества выходных и рабочих дней. Он предоставляет подробную статистику и даже может предсказать ваш будущий доход на основе существующих данных.</div></details>
				<details data-aos="fade-up" style="transition: 3s;"><summary>Это безопасно?</summary><div class="questions">Абсолютно! Мы уделяем приоритетное внимание безопасности и конфиденциальности вашей финансовой информации. </div></details>
				<details data-aos="fade-up" style="transition: 3s;"><summary>Доступна ли служба поддержки клиентов?</summary><div class="questions">Конечно! Наша специальная команда поддержки клиентов готова помочь вам с любыми вопросами, которые могут у вас возникнуть. Просто свяжитесь с нами через нашу страницу контактов, и мы будем рады помочь.</div></details>
				<details data-aos="fade-up" style="transition: 3s;"><summary>Легко ли использовать?</summary><div class="questions">Да, наш финансовый трекер разработан так, чтобы быть удобным для пользователя и интуитивно понятным. Вам не нужны никакие технические знания, чтобы начать им пользоваться.</div></details>
				<details data-aos="fade-up" style="transition: 3s;"><summary>Это бесплатно?</summary><div class="questions">Да, трекер доступен бесплатно. Вскоре мы добавим премиум-функции и расширенную аналитику за абонентскую плату. Вы сможете выбрать план, который лучше всего соответствует вашим потребностям.</div></details>
				<details data-aos="fade-up" style="transition: 3s;"><summary>Может ли это помочь мне сэкономить деньги?</summary><div class="questions">Конечно, наш финансовый трекер может помочь вам определить области, где вы можете сэкономить деньги, анализируя ваши доходы и расходы.</div></details>
			</div>
			<div style="padding-bottom: 60px;">
				<li class="stayques" data-aos="fade-up" style="transition: 3s;">Остались вопросы?</li>
				<li class="noproblem" data-aos="fade-up" style="transition: 3s;">Не стесняйтесь обращаться к нам за дальнейшей помощью</li>
				<li style="list-style-type: none; margin-top: 50px; margin-left: 625px; transition: 3s;" data-aos="fade-up"><a href="home.html#introten" class="contactbutton">Контакты</a></li>
			</div>
		</div>
	</div>
	<!-- ПОДВАЛ -->
	<footer class="container" id="introten">
		<div class="introten">
			<div style="display: flex;">
				<div>
					<li class="finder1">Адрес:</li>
					<li class="basis1">г. Москва, “МИРЭА - Российский технологический университет”, <br> 
						“ИКБ - Институт кибербезопасности и цифровых технологий”, <br> 
						ул. Стромынка, 20</li>
					<li class="finder2">Контакты:</li>
					<li class="basis2">+7 (499) 600-80-80 <br>rector@mirea.ru</li>
					<ul class="socul, socli" style="display: flex; margin-left: 60px;">
						<a href="https://t.me/rtumirea_official"><li class="telegram"><i class="fa-brands fa-telegram icon1 icon"></i></li></a>
						<a href="https://vk.com/mirea_official"><li class="vk"><i class="fa-brands fa-vk icon2 icon"></i></li></a>
						<a href="https://youtube.com/@rtu_mirea?si=-zhXIkYBRrjZdch8"><li class="youtube"><i class="fa-brands fa-youtube icon3 icon"></i></li></a>
						<a href="https://www.tiktok.com/@rtu.mirea?lang=ru-RU&is_from_webapp=1&sender_device=mobile&sender_web_id=7371861582458914310"><li class="tiktok"><i class="fa-brands fa-tiktok icon4 icon"></i></li></a>
					</ul>
				</div>
				<div style="display: flex; margin-left: 380px; margin-top: 150px;">
					<li class="namefooter">CoinGrind</li>
					<li class="palka">|</li>
					<li class="rost">Где растут монеты</li>
				</div>
			</div>
			<hr style="border: none;
					width: 1100px;
					height: 1px;
					background-color: #fffcee;
					margin: 0 auto;
					margin-top: 20px;">
			<li class="mirea">© 2024 МИРЭА - Российский Технологический Университет</li>
		</div>
	</footer>
	<!-- Для анимации фреймов -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
  	</script>
	<!-- Для того чтобы оказывается сверху каждый раз -->
	<script>
		window.onbeforeunload = function () {
			window.scrollTo(0, 0);
		};
	</script>	
</body>
</html>